{% extends 'layout.html' %}
{% block content %}
    <div class='row text-center'>
        <h2>Sense Hat Analytics</h2>
        <p>Welcome to the sense hat analytics page</p>
        <p>The graph bellow displays the temperature and 
            humidity of a room measured buy the Raspberry Pi Sense Hat</p>
    </div>
    <script>
	let data = JSON.parse('{{ data|tojson|safe }}')
    </script>
    <div class='row'>
	<canvas id='humidityChart' width='400' height='400'></canvas>
	<script src='/static/humidityChart.js'></script>
    </div>
    <div class='row'>
	<canvas id='temperatureChart' width='400' height='400'></canvas>
    </div>
{% endblock %}
