{% extends 'layout.html' %}
{% block content %}
    <div class='row text-center'>
        <h2>Sense Hat Analytics</h2>
        <p>Welcome to the sense hat analytics page</p>
        <p>The graph bellow displays the temperature and 
            humidity of a room measured buy the Raspberry Pi Sense Hat</p>
    </div>
    <script>
	let data = JSON.parse('{{ data|tojson|safe }}')
	console.log(data);
    </script>
    <div class='row'>
	    <div class='col-sm-12'>
		<canvas id='humidityChart' width='80vw' height='50vh'></canvas>
	    </div>
    </div>
    <div class='row'>
	    <div class='col-sm-12'>
		<canvas id='temperatureChart' width='80vw' height='50vh'></canvas>
	    </div>
    </div>
    <script src='/static/senseCharts.js'></script>
{% endblock %}
