<!DOCTYPE HTML>
<html>
<head>
    <title>Sense Hat</title>
    <!-- BOOTSTRAP-->
    <link rel='stylesheet' href='/static/bootstrap-3.3.7/css/bootstrap.css'>
    <script src='/static/jquery-3.3.1.js'></script>
    <script src='/static/bootstrap-3.3.7/js/bootstrap.js'></script>
    <!-- Charts -->
    <script src='/static/Chart.bundle.min.js'></script>
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/static/css/custom_style.css'>
</head>
<body>
    <div class='container'>
    
	{% block content %}
        {% endblock %}
	
    </div>
</body>
</html>
